.box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

.box img {
  width: 30%;
}

.box .rarity {
  background-color: black;
}

.box .rarity:hover {
  background-color: black;
}
