header{
    background-color: rgb(0, 0, 215);
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom: darkblue 3px solid;
}

ul{
    margin:0;
    padding:0;
}

header li{
    list-style: none;
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

header h1{
    margin-top:10px;
    float:left;
    margin-left:50px;
}

.container{
    overflow: hidden;
    width:80%;
    margin:auto;
}

header nav{
    float:right;
    margin-top: 10px;
}

header li a:hover{
    color:rgb(111, 119, 153);
    font-weight:bold;
}