#showcase {
  color: rgb(255, 249, 249);
  background-image: url(../assets/ac86907e-e3d3-45f8-87f8-a3de87d98a4b.webp);
  background-repeat: no-repeat;
  min-height: 400px;
}

#showcase h1 {
  font-size: 55px;
  margin-bottom: 10px;
  line-height: 1.6em;
  text-align: center;
  padding-top: 100px;
  text-shadow: black 20px 20px 20px solid;
}

#showcase p {
  font-size: 35px;
  text-align: center;
}
